Import Your Libraries, Lady!

In [1]:
import spacy
import pandas as pd
from collections import Counter

And load SpaCy into the NLP space

In [2]:
nlp = spacy.load("en_core_web_sm")

Load the .txt file you created, with the legislative language.
Feel free to check types, lengths, and print functions along the way.

In [12]:
text = open("../data/bills_lang.txt", "r+").read()

Convert that text into a natural language process object, tokenifying in the process.

In [4]:
bills=nlp(text)

Load stopwords, removing unnecessary and irrelevant words.

In [5]:
with open("../data/stopwords.txt","r") as file:
    stopwords=file.read().split("\n")

Loop through stopwords and create a library to be referenced in the next step.

In [6]:
for stop_word in stopwords:
    lexeme=nlp.vocab[stop_word]
    lexeme.is_stop=True

The main act: remove stopwords, lemmatize your corpus, and append everything into a list.

In [7]:
text_list = []
for token in bills:
     if token.text != "\n" and not token.is_stop and not token.is_punct:
        text_list.append(token.lemma_.lower())

Turn list into a dataframe.

In [8]:
df=pd.DataFrame(text_list)
df.columns=["term"]
df

                 term
0           louisiana
1     representatives
2            willmott
3              amedee
4              anders
...               ...
4813       commitment
4814          custody
4815       department
4816         juvenile
4817          justice

[4818 rows x 1 columns]

Count 'dem values.

In [9]:
df.value_counts()

term
section          122
facility          73
abortion          65
remain            64
fetal             61
                ...
nancy              1
cooperatively      1
natural            1
cooperate          1
hoffmann           1
Name: count, Length: 1203, dtype: int64

Export your beautiful wordcount into a .csv! And then rest easy.

In [13]:
df.value_counts().to_csv("../output/leg_wordcount")